apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "hermes.fullname" . }}
  labels:
    app: {{ template "hermes.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  # TODO: replace hardcoded value with discovery
  type_config.json: |
    {
        "types": [
          {
            "type": "registry",
            "kind": "dockerhub",
            "service-url": "http://{{ printf "%s-nomios" .Release.Name }}",
            "uri-template": "registry:dockerhub:{{"{{"}}namespace{{"}}"}}:{{"{{"}}name{{"}}"}}:{{"{{"}}action{{"}}"}}",
            "uri-regex": "^registry:dockerhub:[a-z0-9_-]+:[a-z0-9_-]+:push$",
            "config": [
              {
                "name": "namespace",
                "type": "string",
                "validator": "^[a-z0-9_-]+$",
                "required": true
              },
              {
                "name": "name",
                "type": "string",
                "validator": "^[a-z0-9_-]+$",
                "required": true
              },
              {
                "name": "action",
                "type": "list",
                "options": {
                  "Push Image": "push"
                },
                "validator": "^(push)$",
                "required": true
              }
            ],
            "filters": [
              {
                "name": "tag",
                "type": "string",
                "validator": "^[a-zA-Z0-9._-]{1,128}$"
              }
            ]
          },
          {
            "type": "cron",
            "kind": "codefresh",
            "service-url": "http://{{ printf "%s-cronus" .Release.Name }}",
            "uri-template": "cron:codefresh:{{"{{"}}expression{{"}}"}}:{{"{{"}}message{{"}}"}}",
            "uri-regex": "^cron:codefresh:@yearly|@annually|@montly|@weekly|@daily|@midnight|@hourly|([a-zA-Z0-9*/,-?]+\\s?){6,7}:[a-zA-Z0-9_-]{2,64}$",
            "config": [{
                    "name": "expression",
                    "type": "cron",
                    "validator": "^@yearly|@annually|@montly|@weekly|@daily|@midnight|@hourly|([a-zA-Z0-9*/,-?]+\\s?){6,7}$",
                    "required": true
                },
                {
                    "name": "message",
                    "type": "string",
                    "validator": "^[a-zA-Z0-9_-]{2,64}$",
                    "required": true
                }
            ],
            "filters": []
          }
        ]
    }
 